/*
    Ethereal Ivory      #E4E4DE
    Sophisticated Sage  #C4C5BA
    Eerie Black         #1B1B1B
    Muted Moss          #595f39 
*/

body{
    background-color: #C4C5BA;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.full-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.heading {
    color: black;
    font-size: 50px;
    padding: 50px;
}

.display-box {
    width: 320px;
    display: flex;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    padding: 10px;
    border-radius: 15px;
    border: 3px outset #595f39;
    box-shadow: 2px 2px #595f39;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bottom-row {
    width: 100%;
    justify-content: left;
}

#display {
    color: #E4E4DE;
    font-size: 45px;
    height: 50px;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#595f39;
    border-radius: 15px;
    border: 3px outset #1B1B1B;
    box-shadow: 2px 2px #C4C5BA;
    align-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button {
    font-size: 25px;
    padding: 20px 20px;
    margin: 5px;
    width: 70px;
    height: 70px;
    color: #C4C5BA;
    border: 3px outset #595f39;
    box-shadow: 2px 2px #595f39;
    background-color: #1B1B1B;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    font-weight: bold;
}